*{
font-family:'Times New Roman', Times, serif;
padding:0px;
margin:0px;
color:rgb(9, 6, 6);
}
#navbar{
	background-color:#0c5223;
	height:50px;
	color:white;
}

marquee{
	width:100%;
	behavior:"alternate";
	color : rgb(255, 255, 255);
	text-align: center;
    margin-top: 1%;
	
}

#login{
  display: flex
}

.cover{
	height: 500px;
	width: 100%;
 
}
/* slide*/


.slider-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.cover {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 0; }
.next { right: 0; }




h2{
	font-family: 'Times New Roman', Times, serif;
	margin-top: 2%;
	text-align: center;
	margin-bottom: 2%;
}

footer{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    p{
      color: white;
       font-family: Arial, Helvetica, sans-serif;

    }
}
.foot-panel1{
    background-color: #d2e3ab;
    color: rgb(12, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
}
.foot-panel2{
    background-color: #b8c795;
    color: rgb(9, 1, 1);
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #000000;
     font-family: Arial, Helvetica, sans-serif;
}
.foot-panel3{
    background-color: #b8c795;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    background-color: #4f5f2a;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages a{
   
    padding-top: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.copyright{
    padding-top: 5px;
    color: white;
     font-family: Arial, Helvetica, sans-serif;
   
}
h1{
    font-family: 'Times New Roman', Times, serif;
	margin-top: 2%;
	text-align: center;
	background-color: rgb(225, 242, 208);;
	margin-bottom: 2%;
}


      /* main Section */
    .items-container{
        width: 90%;
        margin: 40px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .item-container{
        width: 250px;
        margin: 10px;
    }
    .item-image{
        width: 110%;
        height: 75%;
    }   
    .rating{
        font-size: 12px;
        font-weight: 700;

    }
    .plant_name{
        margin-top: 15px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: #282c3f;
        margin-bottom: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .price{
        margin-top: 10px;
        font-size: 14px;
        line-height: 15px;
        color: #282c3f;
        white-space: nowrap;
    }
    .current-price{
        font-size: 14px;
        font-weight: 700;
        color: #282c3f;
    }
    .original-price{
        text-decoration: line-through;
        color: #7e818c;
        font-weight: 400;
        margin-left: 5px;
        font-size: 12px;
    }
    .discount{
        color: #ff905a;
        font-weight: 400;
        font-size: 12px;
        margin-left: 5px;
    }
    .btn-add-bag{
        color: white;
        margin-top: 8px;
        font-size: 18px;
        width: 110%;
        background-color:#6c823a;
        border: none;
        padding: 5px 15px;
        border-radius: 10px;
        cursor: pointer;
    }
    .bag-item-count{
      background-color: #f16565;
        white-space: nowrap;
        text-align: center;
        line-height: 18px;
        padding: 0 6px;
        height: 18px;
        position: relative;
        border-radius: 70%;
        font-size: 12px;
        color: #fff;
        left: 13px;
        top: -32px;
        font-weight: 700;
        cursor: pointer;
    }
    .action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90%;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd; /* Optional: subtle border */
}
.nav_bar {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container{
    margin-left: 3%;
}
.plant_home{
    height: 85px;
}